/* basic styling */

body {
    font-size: 16px;
    line-height:1.5;
    /* font */
 
}

a {
    text-decoration:none;
}

i {
    font-size: 4rem;

}

/* grouped stylings */


.button-box {
    /* flexbox */
    justify-content: space-around;
}

.flex {
    display: flex;
}

.rps-button {
    /* create a literal button */
    border: 2px solid black;
    font-size: 2rem;
    height: 10rem;
    width: 10rem;
    padding: 2rem;

    display:flex;
    justify-content:center;
    align-items:center;
    
}

.score-box {
    /* flex box */
    justify-content: space-around;
}

.score-sub-box {
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.score-num {
    font-size:3rem;
}

.winner-box {
    /* flex box */
    justify-content:center;
}

.wrapper {
    /* grid */
    min-height:100vh;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr, 1fr, 1fr, auto;
}

.wallpaper {

}

/* specific stylings */

.contact {
    font-size: 1.5rem;
    align-items:end;
    justify-content:center;
}

header {
    font-size: 4rem;
    text-align:center;
}

.score-box-title {
    font-size: 2.5rem;
}

#winner-display-text {
    font-size: 3rem;
}


#r {
    /* need image or icon */
}

#p {
    /* need image or icon */
}

#s {
    /* need image or icon */
}
 
/* hover effects - move these to animations? */

.rps-button:hover {
    /* make it bigger */
}

.rps-button:active {
    /* make it smaller */
}

/* responsiveness */


